@use "../../styles/global.scss" as *;

.main {
    background-image: url("../../assests/images/jocelyn-morales-85u5oGSBJ1s-unsplash.jpg");
    height: 100vh;
    width: 100%;
    background-position:bottom;
    background-size: cover;
}

.shop-btn {
    // @include CTA-button;
    font-family: inherit;
    background: none;
    border: $primary-color-white 2px solid;
    color: $primary-color-white;
    padding: 1rem 2rem;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &:hover {
        cursor: pointer;
    }

}

.products {
    margin-top: 4rem;
    margin-bottom: 4rem;
    &__wrapper {
        @include margin;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
       
    }
}

.prod-card {
    height: 340px;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    &__img-container {
        height: 100%;
        width: 100%;
      
    }
    &__img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

footer {
    background-color: $primary-color-grey;
    color: $primary-color-dark-grey; 
    text-align: center;
}

.footer {
    padding-bottom: 1rem;
    &__wrapper {
        @include margin;
    }
    &__header {
        @include header-padding;
        @include page-header;
        color: $primary-color-dark-grey;
    }
    &__copy {
        @include body-copy;
    }
    &__email-input {
        background: none;
        border: none;
        border-bottom: solid 1px $primary-color-dark-grey;
        width: 15rem;
        @include component-margin-top-bottom;
        color: inherit;
    }
    &__links {
        display: flex;
        justify-content: center;
        @include body-copy;
        @include component-margin-top-bottom;
        &--link {
            margin: 0 0.4rem;
            &:hover {
                color: #CEB7B3;
                cursor: pointer;
            }
        }
    }
    &__copyright {
        font-size: 0.7rem;
    }
    


}

// .socials-container {

// }
.social-icon {
    font-size: 1.5rem;
    margin: 0.5rem 0.5rem;
    &:hover {
        color: #CEB7B3;
        // cursor: pointer;
    }
}