@font-face {
    font-family: 'creattion_demoregular';
    src: url('../assests/fonts/creattion/creattion_demo-webfont.woff2') format('woff2'),
         url('../assests/fonts/creattion/creattion_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}