@use "../../styles/global.scss" as *;

.shop {
    color: black;
    background-color: $primary-color-grey;
    top: 92px;
    &__banner {
        position: relative;
        background-image: url(../../assests/images/shelves.jpg);
        background-color: rgba(0, 255, 255, 0.248);
        background-position: 50% 38%;
        height: 10rem;
        background-size: cover;
        @include display-flex(row, center, center);
        &--text {
            color: $primary-color-white;
            @include page-header;
            letter-spacing: 2px;
        }   
        &--overlay {
            position: absolute;
            width: 100%;
            height: 100%;
         
        }
    }
}