@use "../../styles/global.scss" as *;

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: inherit;
    // position: absolute;
    width: 100%;
    // @include display-flex(row, center, space-between)
    background-color: rgba(205, 205, 205, 0.1);
}

.nav-links {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    &__link {
        padding: 0 1rem;
        text-decoration: none;
        color: inherit;
        &:hover {
            cursor: pointer;
        }
    }
    &__icon {
        font-size: 1.5rem;
        margin: 0 0.5rem;

    }
}

.logo {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 240px;
    text-decoration: none;
    color: inherit;
    &:hover {
        cursor: pointer;
    }
    &__text {
        font-family: "creattion_demoregular";
        font-size: 50px;
        font-weight: normal;
    }
    &__tagline {
        letter-spacing: 4px;
        font-size: 10px;
        font-family: 'Times New Roman', Times, serif;
        text-transform: uppercase;
    }
}